[submodule "bundler"]
	path = bundler
	url = https://github.com/bundler-project/bundler
[submodule "nimbus"]
	path = nimbus
	url = https://github.com/ccp-project/nimbus
[submodule "const"]
	path = const
	url = https://github.com/ccp-project/const.git
